<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<p>
    This is my first machine learning project
</p>
<img src="static/1.jpg" alt="AI" width="1500" height="333">

<form method="POST" action="/predict_output" enctype="multipart/form-data">
  <label for="s_l">Sepal Length: </label><br>
  <input type="text" id="s_l" name="s_l"><br>
  <label for="s_w">Sepal Width: </label><br>
  <input type="text" id="s_w" name="s_w" ><br><br>
  <label for="p_l">Petal Length: </label><br>
  <input type="text" id="p_l" name="p_l"><br>
  <label for="p_w">Petal Width: </label><br>
  <input type="text" id="p_w" name="p_w" ><br><br>
  <input type="submit" value="Submit">
</form> 

</body>
</html>
